DB_TYPE=tidb
TIDB_HOST=gatewayxx.xx-xxxxx-x.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USERNAME='xxxxxxxxxxxxxx.root'
TIDB_PASSWORD='xxxxxxxxxxxxx'
TIDB_DATABASE='test'

# MasterRun target schema and Rust DataGenX binary.
TARGET_SCHEMA='test_dbgenx'
DBGEN_BINARY='~/.cargo/bin/dbgen'
